<script type="text/javascript">//<![CDATA[
	window.setTimeout(
		function() {
			XHR.poll(3, '<%=build_url("admin/status/realtime/temperature1")%>', null,
				function(x, json)
				{
					if (e = document.getElementById('tempcpu'))
						e.innerHTML = String.format('%.01f &deg;C', json[0].cpu / 1000);
				}
			);
			XHR.run();

			XHR.poll(3, '<%=build_url("admin/status/realtime/temperature2")%>', null,
				function(x, json)
				{

					if (e = document.getElementById('tempddr'))
						e.innerHTML = String.format('%.01f &deg;C', json[0].ddr / 1000);

				}
			);
			XHR.run();

			XHR.poll(3, '<%=build_url("admin/status/realtime/temperature3")%>', null,
				function(x, json)
				{

					if (e = document.getElementById('tempwifi'))
						e.innerHTML = String.format('%.01f &deg;C', json[0].wifi / 1000);

				}
			);
			XHR.run();

		}
	);
//]]></script>

<div class="cbi-section">
<div id="tempcpu"></div>
<div id="tempddr"></div>
<div id="tempwifi"></div>
</div>
